@import url(webfonts/stylesheet.css);

body {
  font: normal 16px 'Noto Sans Thai UI', sans-serif;
  margin : 0px;
  overflow: hidden;
}

.title {
  font-size: 2rem;
  width: 900px;
  margin: 50px auto 0px auto;
}

#sankey {
  width: 900px;
  height: 500px;
  margin: 0px auto;
}